// -----------------------------------------------------------------------------
// Global variables
// Must be namespaced with "ds".
// Example:
// $ds-blue: #036;
// @TODO: decide if examples should be in README or files.
// -----------------------------------------------------------------------------

@import "type";
@import "layout";
@import "helpers";
@import "fonts";
@import "colors";
@import "images";
