// -----------------------------------------------------------------------------
// Breakpoints
// @TODO: Find good standard values
// -----------------------------------------------------------------------------

$ds-breakpoint-small:  1px !default;
$ds-breakpoint-medium: 2px !default;
$ds-breakpoint-large:  3px !default;
