// @TODO: Move this ? 
$ds-em: 16px; // What should this be?
@function ds-em-calc($pixels, $em-size: $ds-em) {
  @return $pixels / $em-size * 1em;
}
// -----------------------------------------------------------------------------
// Breakpoints
// @TODO: Find good standard values
// -----------------------------------------------------------------------------

$ds-breakpoint-small:   ds-em-calc(480px) !default;
$ds-breakpoint-medium:  ds-em-calc(768px) !default;
$ds-breakpoint-large:   ds-em-calc(1200px) !default;
