// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$ds-color-kollegorna:      #F4E7B7;
$ds-color-charcoal:        #201e1e;
$ds-color-white:           #FFFFFF;
$ds-color-black:           #000000;
$ds-color-sea:             #00C7FD;

$ds-color-orange:          #f7b05b;
$ds-color-orange-power:    #ffc15e;
$ds-color-orange-dark:     $ds-color-orange;
$ds-color-orange-darkest:  $ds-color-orange;
$ds-color-red:             #f06543;
$ds-color-green:           #e1dd8f;
$ds-color-sand:            #CEBD80;
$ds-color-clay:            #93875D;
$ds-color-mud:             #B7B19C;
$ds-color-scrub:           #403E35;
$ds-color-peach:           #F9B57A;
$ds-color-judge:           #5B5541;
$ds-color-kelp:            #484436;

// Appley grays
$ds-color-gallery:         #F0EFF0;
$ds-color-gainsboro:       #DCDCDC;
$ds-color-light-gray:      #D6D5D6;
$ds-color-magnesium:       #B2B2B2;


// -----------------------------------------------------------------------------
// Items
// Use these variables in other files for easy color changes
// -----------------------------------------------------------------------------

$ds-color-background:       $ds-color-charcoal;
$ds-color-box-shadow:       #B7B19C;
$ds-color-text:             $ds-color-white;
$ds-color-text-light:       $ds-color-white;
$ds-color-link:             $ds-color-orange;
$ds-color-heading:          $ds-color-white;
$ds-color-selection:        $ds-color-orange;
$ds-color-selection-text:   $ds-color-charcoal;
$ds-color-input:            $ds-color-white;
$ds-color-input-border:     $ds-color-gainsboro;
$ds-color-input-text:       $ds-color-charcoal;
$ds-color-button:           $ds-color-orange-power;
$ds-color-button-text:      $ds-color-white;
$ds-color-border:           #DCCFA7;
