---
title: Kollegorna Styleguide
---

<section class="styleguide">
  <dl>
    <dt><a href="/html-elements">HTML elements</a></dt>
    <dd>Overview of all HTML elements.</dd>

    <dt><a href="/typography">Typography</a></dt>
    <dd>Additional classes.</dd>

    <dt><a href="/ui">UI</a></dt>
    <dd>Buttons, boxes, icons and so on.</dd>

    <dt><a href="/article">Sample page</a></dt>
    <dd>A complete page using all of the above.</dd>
  </dl>
</section>
