---
title: Typography
permalink: typography/index.html
---

<section class="styleguide">
  <h1>Typography</h1>
  <p>Additional typographic classes.</p>

  <hr>

  <h2>Lead copy</h2>

  <p class="t-lead">
    Over the past months we have been building various APIs here in Kollegorna using Rails. Although there has been a lot of fuzz about API frameworks in Ruby community like the sinatra-way and Grape the truth is that I never felt that Rails limits you when building APIs, especially if you have a large one.
  </p>

  <hr>

  <h2>Meta text</h2>

  <p class="t-meta">
    This is some meta text <a href="">with a link</a> in it.
  </p>

  <hr>

  <h2>Utility stuff</h2>

  <p class="t-center">
    Centered text:<br>
    Today I will show how you can extend your Rails app and build an API without changing a single line of code from your existing app.
  </p>

  <p class="t-right">
    Right aligned text:<br>
    Today I will show how you can extend your Rails app and build an API without changing a single line of code from your existing app.
  </p>

  <p class="t-uppercase">
    Uppercase text
  </p>

  <p class="t-small">
    Smaller text
  </p>

  <hr>

  <h2>Lists</h2>

  <ul class="t-list-unstyled">
    <li>This is an</li>
    <li>unstyled</li>
    <li>list</li>
  </ul>

  <ul class="t-list-inline">
    <li>This lists</li>
    <li>items</li>
    <li>are inline</li>
  </ul>

  <hr>

  <h2>Tags</h2>

  <p>
    <a class="t-tag" href="">Ruby on Rails</a>
    <a class="t-tag" href="">JavaScript</a>
    <a class="t-tag" href="">Middleman</a>
  </p>

  <hr>

  <h2>Pull out text</h2>

  <br>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Samhällsengagemang.</h3>
      <p>Vi vill bidra till en bättre och mer rättvis värld och stöder därför <a href="http://www.wateraid.se">WaterAid</a> samt <a href="http://www.kvinnojouren.se/">Sveriges Tjej- och Kvinnojourers Riksförbund</a> på olika sätt i olika projekt så som <a href="https://gavoshop.wateraid.se">WaterAids gåvoshop</a> och <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a>.</p>
    </div>
  </div>
</section>
