---
title: UI
permalink: ui/index.html
---

<section class="styleguide">
  <h1>UI</h1>
  <p>Buttons, boxes, icons and so on.</p>

  <hr>

  <h2>Buttons</h2>

  <p>
    <a class="button" href="">Default</a>
  </p>

  <p>
    <a class="button">
      <img class="button__icon" src="https://labs.kollegorna.se/assets/icon-close-40d9271fce1f553bca014eed9e66b493.svg">
      Button with icon
    </a>
  </p>

  <p>
    <a class="button button--primary" href="">Primary</a>
  </p>

  <p>
    <a class="button button--secondary" href="">Secondary</a>
  </p>

  <p>
    <a class="button button--disabled" href="">Disabled</a>
  </p>

  <hr>

  <h2>Buttons: Small</h2>

  <p>
    <a class="button button--small" href="">Default</a>
  </p>

  <p>
    <a class="button button--small button--primary" href="">Primary</a>
  </p>

  <p>
    <a class="button button--small button--secondary" href="">Secondary</a>
  </p>

  <p>
    <a class="button button--small button--disabled" href="">Disabled</a>
  </p>

  <hr>

  <h2>Icon button</h2>

  <p>
    <a class="button-icon" href=""><img src="https://labs.kollegorna.se/assets/icon-close-40d9271fce1f553bca014eed9e66b493.svg"></a>
  </p>

  <hr>

  <h2>Gradient borders</h2>

  <h2>
    <span class="gradient-border">
      Blog posts
    </span>
  </h2>

  <hr>

  <h2>Gradient &lt;hr&gt;</h2>

  <p>Large:</p>

  <hr class="hr-gradient">

  <br>

  <p>Medium:</p>

  <hr class="hr-gradient hr-gradient--medium">

  <br>

  <p>Small:</p>

  <hr class="hr-gradient hr-gradient--small">

  <p>Tiny:</p>

  <hr class="hr-gradient hr-gradient--tiny">

  <p>Left justified:</p>

  <hr class="hr-gradient hr-gradient--left">

  <hr class="hr-gradient hr-gradient--medium hr-gradient--left">

  <hr class="hr-gradient hr-gradient--small hr-gradient--left">

  <hr class="hr-gradient hr-gradient--tiny hr-gradient--left">

  <hr>

  <h2>Box: Gradient border</h2>

  <br>

  <div class="box-gradient-border">
    <h5 class="box-gradient-border__title">Title (optional)</h5>
    <p>We're a distributed digital agency spread from Santo Domingo to Seoul with our HQ in Stockholm.</p>
  </div>

  <br>

  <div class="box-gradient-border">
    <p><strong>Alternate title (optional).</strong> We're a distributed digital agency spread from Santo Domingo to Seoul with our HQ in Stockholm.</p>
  </div>

  <hr>

  <h2>Box: Text</h2>

  <br>

  <div class="box-text">
    <h5 class="box-text__heading">Title</h5>
    <p>We're a distributed digital agency spread from Santo Domingo to Seoul with our HQ in Stockholm.</p>
  </div>

  <br>

  <div class="box-text">
    <figure class="box-text__heading-image">
      <img src="http://placekitten.com/g/800/450">
    </figure>
    <h2>Title</h2>
    <p>We're a distributed digital agency spread from Santo Domingo to Seoul with our HQ in Stockholm.</p>
  </div>

  <hr>

  <h2>Polaroid image</h2>

  <figure class="polaroid">
    <img src="http://placekitten.com/g/800/600">
  </figure>

  <br>

  <figure class="polaroid">
    <img src="http://placekitten.com/g/800/600">

    <figcaption>
      This is the caption. What a lovely kitten! <a href="#">And it has a link</a>.
    </figcaption>
  </figure>

  <br>

  <figure class="polaroid polaroid--circle">
    <img src="http://placekitten.com/g/160/160">
  </figure>

</section>
