// -----------------------------------------------------------------------------
// Utility stuff
// -----------------------------------------------------------------------------

%ds-t-center {
  text-align: center;
}
.t-center {
  @extend %ds-t-center;
}

%ds-t-right {
  text-align: right;
}
.t-right {
  @extend %ds-t-right;
}

%ds-t-uppercase {
  text-transform: uppercase;
}
.t-uppercase {
  @extend %ds-t-uppercase;
}

// -----------------------------------------------------------------------------
// Lead
// -----------------------------------------------------------------------------

%ds-t-lead {
  font-size: $ds-h3-font-size;
}
.t-lead {
  @extend %ds-t-lead;
}


// -----------------------------------------------------------------------------
// Meta
// -----------------------------------------------------------------------------

%ds-t-meta {
  color: $ds-color-text-light;

  a {
    color: $ds-color-link;

    &:hover {
      color: $ds-color-link;
    }
  }
}
.t-meta {
  @extend %ds-t-meta;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

/**
 * Unstyled
 */
%t-list-unstyled {
  list-style: none;
  margin-left: 0;
}
.t-list-unstyled {
  @extend %t-list-unstyled;
}

/**
 * Inline
 */
%t-list-inline {
  @extend %t-list-unstyled;

  & > li {
    display: inline-block;
    margin-right: 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
.t-list-inline {
  @extend %t-list-inline;
}

// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------

%ds-t-tag {
  background: rgba(white, 0.1);
  border: 1px solid $ds-color-border;
  border-radius: 2px;
  color: $ds-color-text;
  display: inline-block;
  font-size: ds-rem-calc(14);
  margin: 0 9px 9px 0;
  padding: 5px 10px;

  &:hover {
    border-color: $ds-color-orange;
    color: $ds-color-orange;
  }
}
.t-tag {
  @extend %ds-t-tag;
}

// -----------------------------------------------------------------------------
// Pull out text
// -----------------------------------------------------------------------------

.pull-out {
  @extend %t-list-unstyled;
}
.pull-out__item {
  margin: 0 0 $ds-type-margin;
  padding: 0 0 0 $ds-type-margin;

  p:last-child {
    margin: 0;
  }
}
.pull-out__title {
  display: inline;
  font-size: $ds-font-size-body-copy;
  font-weight: $ds-font-weight-bold;
  margin: 0 0 0 (-$ds-type-margin);
  text-transform: none;

  & + p {
    display: inline;
    margin: 0;
  }
}
