// -----------------------------------------------------------------------------
// Media
// -----------------------------------------------------------------------------

audio, canvas, video {
  display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}

img,
object,
embed {
  max-width: 100%;
}

img {
  border: 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

// @TODO SVG

object,
embed {
  height: 100%;
}

figure {
  @include ds-clearfix;
  margin: 0 0 $ds-type-margin;
  overflow: visible;

  img {
    float: $ds-float;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

figcaption {
  clear: both;

  p:last-child {
    margin-bottom: 0;
  }
}
