// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

table {
  border: 0;
  margin: 0;
  width: 100%;
}

caption {
  text-align: $ds-float;
}

tbody {
  border: 0;
}

th,
td {
  border: 0;
}

th {
  text-align: $ds-float;
}

td,
td img {
  vertical-align: top;
}

tfoot {
  font-style: italic;
}
