
// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

a,
a:active {
  color: $ds-color-blue-dark;
  text-decoration: none;
}

a:hover,
a:active {
  //outline: none;
}

a:focus {

}

a:link {
  -webkit-tap-highlight-color: lighten($ds-color-blue-light, 20);
}

// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------

%h1-6 {
  color: #000;
  font-weight: $ds-font-weight;
  line-height: $ds-headings-line-height;
  margin: .5em 0 .2em;

  a {
    font-weight: inherit;
  }

  small {

  }
}

%h1 {
  @extend %h1-6;
  color: #000;
  font-size: $ds-h1-font-size;
  font-weight: $ds-font-weight-light;

  @media #{$medium-down} {
    font-size: 2.8rem;
    line-height: 1.2;
  }
}
h1 {
  @extend %h1;
}

%h2 {
  @extend %h1-6;
  font-size: $ds-h2-font-size;
  font-weight: $ds-font-weight-light;
}
h2 {
  @extend %h2;
}

%h3 {
  @extend %h1-6;
  font-size: $ds-h3-font-size;
  margin-bottom: 1rem;
}
h3 {
  @extend %h3;
}

%h4 {
  @extend %h1-6;
  font-size: $ds-h4-font-size;
}
h4 {
  @extend %h4;
}

%h5 {
  @extend %h1-6;
  font-size: $ds-h5-font-size;
}
h5 {
  @extend %h5;
}

%h6 {
  @extend %h1-6;
  font-size: $ds-h6-font-size;
}
h6 {
  @extend %h6;
}

// -----------------------------------------------------------------------------
// Body text
// -----------------------------------------------------------------------------

p {
  font-size: rem-calc(18);
  margin: 0 0 $ds-type-margin;
}

hr {
  border: 1px solid #e9e8e8;
  border-width: 1px 0 0;
  clear: both;
  margin: ($ds-type-margin*2) 0 (($ds-type-margin*2) - rem-calc(1));
  height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
q:before {
  //content: '“';
}

blockquote:after,
q:after {
  //content: '”';
}

blockquote {
  font-size: 1.4em;
  font-style: italic;
  font-weight: $ds-font-weight;
  line-height: 1.6;
  margin: 0 0 $ds-type-margin;
  position: relative;

  cite {
    display: block;
  }

  a,
  a:visited {
    color: #666;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

q {
  font-style: italic;
}

strong,
b {
  color: #000;
  font-weight: $ds-font-weight-bold;
  line-height: inherit;
}

em,
dfn,
i {
  font-style: italic;
  line-height: inherit;
}

dfn {
  font-weight: $ds-font-weight-bold;
}

abbr,
acronym {
  border-bottom: 1px dotted red;
  cursor: help;
  text-transform: uppercase;
}

abbr {
  text-transform: none;
}

cite {
  font-style: normal;
}

del {
  color: red;
  text-decoration: line-through;
}

mark {
  background: rgba(red, .5);
  color: red;
  font-weight: $ds-font-weight;
  padding: 0 rem-calc(3);
}

ins {
  background: rgba(red, .5);
  color: red;
  font-style: italic;
  font-weight: $ds-font-weight;
  padding: 0 rem-calc(3);
  text-decoration: none;
}

pre {
  margin: $ds-type-margin 0;
  padding: rem-calc(12);
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre,
code,
tt,
kbd,
samp {
  font-family: monospace, sans-serif;
  font-weight: normal;
}

sup,
sub {
  line-height: 90%;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

small {
  font-size: rem-calc(14);
}

kbd {
  background: rgba(red, .5);
  border: 1px solid red;
  border-radius: rem-calc(4);
  font: normal normal 0.8em/90% sans-serif;
  margin: 0 rem-calc(4);
  padding: rem-calc(2) rem-calc(6);
}

address {
  font-style: normal;
}

::selection {
  background: $ds-color-blue-light;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: $ds-color-blue-light;
  color: #fff;
  text-shadow: none;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

ul,
ol {
  list-style: disc inside;
  margin: 0 0 $ds-type-margin;
  padding: 0;
}

li ul,
li ol {
  margin-#{$ds-float}: $ds-type-margin;
  margin-bottom: 0;
}

dl {
  margin: 0 0 $ds-type-margin;
}

dt {
  font-weight: $ds-font-weight-bold;
}

dd {
  margin: 0 0 $ds-type-margin;

  dl &:last-child {
    margin: 0;
  }
}
